[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
streamlit = "*"

[dev-packages]
mypy = "*"
black = "*"
flake8 = "*"
isort = "*"
poethepoet = "*"
ipykernel = "*"
jupyter = "*"

[requires]
python_version = "3.10"
